<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'authapp/css/style.css' %}">
        <title>Login</title>
    </head>
    <body>
        <div class="background"></div>

        <div class="login-container">
            <h1>Iniciar sesión</h1>
            <form method="POST" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Ingresar</button>
            </form>

            <div class="divider">¿No tenés cuenta?</div>

            <form action="{% url 'register' %}">
                <button type="submit" class="btn secondary">Ir al
                    registro</button>
            </form>
        </div>
    </body>
</html>
